{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EMI Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dark2.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/emimanager.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>

<div class="container">

    <!-- Header -->
    <!-- PAGE HEADER -->
<div class="page-header">

    <a href="{% url 'dashboard' %}" class="back-btn">←</a>

    <h2>EMI Manager</h2>

    <div class="header-icons">
        <a href="/calculator/" class="circle-icon">🧮</a>
        <a href="/calendar/" class="circle-icon">📅</a>
        <a href="/profile/" class="circle-icon">👤</a>

        <div class="menu-circle" onclick="open_menu()">☰</div>
    </div>

</div>



    <!-- Total EMI Card -->
    <div class="total-card">
        <p>Total Monthly EMI</p>
        <h1 id="totalEmi">₹{{ total|floatformat:0 }}</h1>
    </div>

    <h3 class="section-title">Active EMIs</h3>

    {% for i in u %}
<div class="emi-card" data-end="{{ i.end_date|date:'Y-m-d' }}">

    <div class="emi-top">
        <div>
            <h4>{{ i.emi_name }}</h4>
            <p>{{ i.duration }} months</p>
            <span class="status"></span> <!-- Status will appear here -->
        </div>

        <form method="post" action="{% url 'delete_emi' i.id %}">
            {% csrf_token %}
            <button type="submit" class="delete-btn">🗑</button>
        </form>
    </div>

    <h2 class="emi-amount">₹{{ i.monthly_amount }}/month</h2>

    <div class="progress-bar">
        <div class="progress" style="width: {{ i.duration|floatformat:0 }}%;"></div>
    </div>

</div>
{% empty %}
<p>No EMI added yet.</p>
{% endfor %}
<script src="{% static 'js/menu.js' %}"></script>

{% include "menu.html" %}

<script src="{% static 'js/menu.js' %}"></script>


<script src="{% static 'js/emimanager.js' %}"></script>

</body>
</html>