/* RESET */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{

  font-family:'Poppins',sans-serif;

  background:#ececf3;

  min-height:100vh;

}


/* PAGE WRAPPER */
.page-wrapper{

  width:100%;

  display:flex;

  justify-content:center;

  padding:20px;

}


/* MOBILE DEFAULT */

.container{

  width:100%;

  max-width:420px;

  background:#f4f4f8;

  border-radius:30px;

  padding:20px;

  box-shadow:0 20px 40px rgba(0,0,0,0.1);

}


/* HEADER */

.header{

  display:flex;

  align-items:center;

  margin-bottom:15px;

}

.back-btn{

  font-size:22px;

  cursor:pointer;

}

.header h2{

  flex:1;

  text-align:center;

}


/* AMOUNT CARD */

.amount-card{

  background:linear-gradient(135deg,#22c55e,#14b8a6);

  color:white;

  padding:20px;

  border-radius:16px;

  margin-bottom:20px;

}

.amount-card h1{

  font-size:28px;

}


/* FORM */

form{

  display:flex;

  flex-direction:column;

  gap:12px;

}

label{

  font-size:14px;

  font-weight:500;

}

input,select,textarea{

  padding:12px;

  border-radius:10px;

  border:none;

  background:white;

  font-size:14px;

}

textarea{

  resize:none;

}


/* BUTTON */

button{

  margin-top:10px;

  padding:14px;

  border:none;

  border-radius:25px;

  background:linear-gradient(135deg,#22c55e,#14b8a6);

  color:white;

  font-size:16px;

  font-weight:600;

  cursor:pointer;

}


/* =========================
   TABLET VIEW
========================= */

@media(min-width:768px){

.container{

  max-width:650px;

}

}


/* =========================
   DESKTOP VIEW
========================= */

@media(min-width:1024px){

.page-wrapper{

  padding:40px;

}

.container{

  max-width:900px;

  padding:30px;

  border-radius:20px;

}

.amount-card{

  border-radius:14px;

}

.amount-card h1{

  font-size:32px;

}

button{

  width:250px;

  align-self:center;

}

}


/* =========================
   LARGE DESKTOP
========================= */

@media(min-width:1400px){

.container{

  max-width:1000px;

}

}


/* HIDDEN */

.hidden{

display:none;

}
#sourceWrapper select,
#sourceWrapper input {
  width: 100%;
}