
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Calendar - MoneyMitra</title>

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark5.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
</head>
<body>

<div class="calendar-page">

    <div class="cal-container">

        <!-- Back Button -->
        <div class="back-btn"
            onclick="window.location.href='{% url 'dashboard' %}'">
            ←
        </div>

        <div class="calendar-box">

            <!-- Month Navigation -->
            <div class="month-nav">
                <button id="prev">‹</button>

                <div class="month-title">
                    <h2 id="monthName"></h2>
                    <p id="year"></p>
                </div>

                <button id="next">›</button>
            </div>

            <!-- Weekdays -->
            <div class="weekdays">
                <div>Sun</div><div>Mon</div><div>Tue</div>
                <div>Wed</div><div>Thu</div><div>Fri</div><div>Sat</div>
            </div>

            <!-- Days -->
            <div class="days" id="days"></div>

            <div class="today-text">● Today</div>

        </div>

    </div>

</div>
<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
</body>
</html>