{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<div class="sidebar">

    <div class="sidebar-logo">
        <img src="{% static 'images/logo.png' %}">
        <h2>MoneyMitra</h2>
    </div>

    <div class="sidebar-menu">

        <a href="{% url 'dashboard' %}" class="active">
            <span>🏠</span><p>Dashboard</p>
        </a>

        <a href="{% url 'investment' %}">
            <span>📊</span><p>Investment Options</p>
        </a>

        <a href="{% url 'emimanager' %}">
            <span>💳</span><p>Manage EMIs</p>
        </a>

        <a href="{% url 'savings_goal' %}">
            <span>💰</span><p>Savings Goals</p>
        </a>

        <a href="{% url 'monthly_budget' %}">
            <span>📂</span><p>Category Budgets</p>
        </a>

        <a href="{% url 'transaction_history' %}">
            <span>📜</span><p>Transaction History</p>
        </a>

        <a href="{% url 'budget_analysis' %}">
            <span>📊</span><p>Budget Analytics</p>
        </a>

        <a href="{% url 'monthly_summary' %}">
            <span>📅</span><p>Monthly Summary</p>
        </a>

        <a href="{% url 'expensereport' %}">
            <span>📄</span><p>Expense Reports</p>
        </a>

        <!-- THEME -->
        <div class="theme-toggle">
    <div class="theme-left">
        <span>🌙</span>
        <p>Theme</p>
    </div>

    <label class="switch">
        <input type="checkbox" id="themeSwitch" onchange="toggleTheme()">
        <span class="slider"></span>
    </label>
</div>

    </div>

</div>