{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Savings</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/saving.css' %}">
</head>

<body>

<div class="page-wrapper">

    <div class="container">

        <div class="progress">
            <span class="active"></span>
            <span class="active"></span>
            <span></span>
        </div>

        <h1 class="title">Set your monthly savings</h1>
        <p class="subtitle">
            This amount will be saved every month
        </p>

        <div class="salary-card">
            <p>Savings Amount</p>
            <div class="salary-input">
                ₹ <input type="number" id="savings" placeholder="0">
            </div>
        </div>

        <div class="info-box">
            ℹ️ Experts recommend saving at least 20%.
        </div>

        <button class="btn">Continue</button>
        <p class="skip">Skip for now</p>

    </div>

</div>

<script src="{% static 'js/saving.js' %}"></script>
</body>
</html>